{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <p class="titulo">
    Datos de Interés
  </p> 
  <div class="texto">
    En esta publicación indico algunos datos de interés sobre mi ficha que no se encuentran en el resto de entradas de menú (<a href="https://rodvic.wordpress.com/experiencia-profesional/">Experiencia Profesional</a> - <a href="https://rodvic.wordpress.com/formacion-academica/">Formación Académica</a> - <a href="https://rodvic.wordpress.com/contacto/">Datos de Contacto</a> - <a href="https://rodvic.wordpress.com/acerca-de/">Carta de Presentación</a>):
    <ul>
    	<li><strong>Lenguajes de Programación:</strong> Java, MySQL, PHP, C#, Haskell, Prolog, Visual Basic, ASP.NET, JSP, HTML5, CSS, JavaScript, AJAX, JSON.</li>
    	<li><strong>Sistemas operativos: </strong>
    <ul>
    	<li>Windows XP, Vista, 7, 8 y 10.</li>
    	<li>Windows Server 2000, 2003, 2008 y 2012.</li>
    	<li>Linux: Ubuntu y Open Suse.</li>
    	<li>Diferentes versiones de Android e iOS.</li>
    </ul>
    </li>
    	<li><strong>Entorno de desarrollo:</strong> Yii Framework 1.0 y 2.0, Joomla, WordPress.</li>
    	<li><strong>Idiomas:</strong>
    <ul>
    	<li>Castellano: nativo.</li>
    	<li>Inglés: nivel KET (A2) de Cambridge. Preparando nivel PET (B1).</li>
    	<li>Portugués: nivel conversación.</li>
    </ul>
    </li>
    	<li><strong>Permiso de conducir: B </strong>(Obtenido en 2008)<strong>.</strong></li>
    	<li><strong>Disponibilidad de viajar y cambio de residencia.</strong></li>
    	<li><strong>Incorporación inmediata.</strong></li>
    </ul>
  </div>
</div>
{% endblock %}
